@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #cafdff;
}

header {
  height: calc(100vh-70px);
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eadcff;
}

h1 {
  font-size: 72px;
  padding: 10px 0;
}

.subheader {
  font-size: 36px;
  padding: 10px 0;
  margin: 16px 0 24px 0;
}

button {
  padding: 8px 16px;
  font-size: 24px;
  background-color: #05c7cf;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

a {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.logo {
  width: 300px;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin-right: 0 10px;
}
.row {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*

about

*/

#about {
  padding: 48px 0;
  background-color: #f8ffdc;
  justify-content: center;
  margin: 0 auto;
}

h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}

.section__description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__img--wrapper {
  width: 60%;
  padding: 0 30px;
}
.section__description --wrapper {
  width: 60%;
  padding: 0 30px;
}

.img {
  width: 100%;
}

.section__description--para {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
  padding: 0 0 0 30px;
}

/*

discord

*/

#discord {
  padding: 48px 0;
  background-color: #cefeff;
  justify-content: center;
  margin: 0 auto;
}

/*

contact

*/

#contact {
  padding: 48px 0;
  background-color: #dce9ff;
  justify-content: center;
  margin: 0 auto;
}
form {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 24px;
}

input,textarea {
  padding: 6px 12px;
  margin-bottom: 24pix;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

button {
  margin-top: 12px;
}

/*

footer

*/

footer {
  background-color: #aaf5ff;
  padding: 48px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.footer__link{
  padding: 0px 20px;
  font-size: 10px;
}

p {
  font-size: 14px;
  margin-top: 24px;
}

/*small phones, tablets, and large smartphones*/
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .home__description{
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home__description--button{
    max-width: 240px;
  }

  h1{
    text-align: center;
    font-size: 68px;
  }

  .subheader{
    text-align: center;
    font-size: 28px;
  }

  ul{
    display: none;
  }

  .section__description{
    flex-direction: column;
  }

  .section__description --wrapper{
    width: 100%;
  }

  .about__img--wrapper{
    width: 100%;
  }

  #discord .section__description{
    flex-direction: column-reverse;
  }

  footer{
    padding: 48px 24px;
  }
  .footer__logo{
    max-width: 368px;
  }

  .footer__link{
    padding: 0 4px;
    font-size: 18px;
  }

  .footer__links {
    margin-bottom: 24px;
  }
}